<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:text="#{applicationName} + ' - ' + ${isEdit}? #{editMessage}: #{newMessage}"></title>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
<div class="ui container">
  <h4 th:text="${isEdit}? #{editMessage}: #{newMessage}"></h4>
  <form th:action="@{/manage/__${postHandler}__}" method="post" th:object="${message}" th:classappend="${#fields.hasErrors()}?error" class="ui form">
    <fieldset>
      <legend th:text="#{message}"></legend>
      <div th:if="${#fields.hasErrors()}" th:classappend="${#fields.hasErrors()}?error" class="ui message">
        <ul class="list">
          <li th:each="error:${#fields.allErrors()}" th:text="${error}"></li>
        </ul>
      </div>
      <div class="field">
        <label th:text="#{message.publishDate}"></label>
        <div class="two fields">
          <div th:classappend="${#fields.hasErrors('publishDateDate')}?error" class="field">
            <input id="edPublishDateDate" type="date" th:field="*{publishDateDate}" />
          </div>
          <div th:classappend="${#fields.hasErrors('publishDateTime')}?error" class="field">
            <input id="edPublishDateTime" type="time" th:field="*{publishDateTime}" />
          </div>
        </div>
      </div>
      <div class="field">
        <label th:text="#{message.removeDate}"></label>
        <div th:classappend="${#fields.hasErrors('removeDate')}?error" class="two fields">
          <div class="field">
            <input id="edRemoveDateDate" type="date" th:field="*{removeDateDate}" />
          </div>
          <div class="field">
            <input id="edRemoveDateTime" type="time" th:field="*{removeDateTime}" />
          </div>
        </div>
      </div>
      <div th:classappend="${#fields.hasErrors('description')}?error" class="field">
        <label th:text="#{message.description}"></label>
        <textarea id="edDescription" name="description" th:text="*{description}"></textarea>
      </div>
      <button id="edSave" class="ui mini primary button">[[#{save}]] <i class="send icon"></i></button>
      <button id="edCancel" type="button" class="ui mini button">[[#{cancel}]] <i class="window close icon"></i></button>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("edCancel").addEventListener("click", function() {
      document.location = "../manage";
      return false;
    });
  });
</script>
</body>
</html>
